{% extends "layout.html" %}

{% block content %}
<dl>
  <dt>Fact number 1: The film was originally going to be called Six Samurai</dt>
  <dd>- During the scriptwriting process, Kurosawa realised that six sober samurai were
    a bore and they needed a character that was more off-the-wall</dd>
  <dd>- Kurosawa cast Mifune as Kikuchiyo and gave him creative license to
    improvise actions in his performance</dd>
  <br/>

  <dt>Fact number 2: The film took a year to complete</dt>
  <dd>- Toho Studios closed down production at least twice
  <dd>- While Kurosawa calmly went fishing, he reasoned that the studio had
    already heavily invested in the production, and would allow him to complete
    the picture</dd>
  <br/>

  <dt>Fact number 3: Akira spoke of ‘intense labour’ of making the film</dt>
  <dd>- He reportedly said ‘It rained all the time, we didn’t have enough horses.
    It was just the kind of picture that is impossible to make in this country
    (Japan).’</dd>
  <br/>

  <dt>Fact number 4: The martial arts choreography for the film was led by
    Yoshio Sugino of the Tenshin Shoden Katori Shinto-ryu</dt>
  <br/>

  <dt>Fact number 5: At three hours, twenty-seven minutes, Seven Samurai would
    be the longest picture of Kurosawa’s career</dt>
  <br/>

  <dt>Fact number 6: There have been pachinko machines based on Seven Samurai
    in Japan</dt>
  <br/>

  <dt>Fact number 7: Seven Samurai’s influence can be felt on films such as The Magnificent Seven,
    A Bug’s Life, and Star Wars</dt>

</dl>

{% endblock %}
