<html>
  <meta name="viewport" content="width=device-width", initial-scale=1.0>
  <head>
    <title>Seven Samurai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
  </head>
  <body>

    <header>Seven Samurai</header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/plot/">Plot</a></li>
        <li><a href="/the_seven/">The Seven</a></li>
        <li><a href="/stats/">Stats</a></li>
        <li><a href="/cool_facts/">Cool Facts</a></li>
      </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
      A tribute page made by Dino de Castro.
    </footer>

  </body>
</html>
