{% extends "layout.html" %}

{% block content %}

<dl>
  <dt>The film was directed by Akira Kurosawa</dt>
    <dd>- Akira Kurosawa was a Japanese film director and screenwriter, who
      directed 30 films in a career spanning 57 years</dd>
    <dd>- Films he directed include <em>Rashomon</em>, <em>Throne of Blood</em>,
      <em>Yojimbo</em>, and <em>Ran</em></dd>
    <dd>- More about Akira Kurosawa <a href="https://en.wikipedia.org/wiki/Akira_Kurosawa" target="blank">here</a></dd>
  <br/>
  <dt>The film was produced by Toho</dt>
    <dd>- Toho is a Japanese film, theatre production, and distribution company</dd>
    <dd>- More about Toho <a href="https://en.wikipedia.org/wiki/Toho" target="blank">here</a></dd>
  <br/>
  <dt>The film was officially released April 26, 1954 and runs for 207 minutes.</dt>
</dl>

{% endblock %}
