{% extends "layout.html" %}

{% block content %}

<dl>
The seven samurai are:<br/>
	<br/>

	<dt>Kambei</dt>
	<dd>- The leader of the group</dd>
  <dd>- Played by Takashi Shimura</dd>
  <br/>

	<dt>Katsushiro</dt>
	<dd>- A young untested warrior</dd>
  <dd>- Played by Isao Kimura</dd>
  <br/>

	<dt>Shichiroji</dt>
	<dd>- An old friend of Kambei and his former lieutenant</dd>
  <dd>- Played by Daisuke Kato</dd>
  <br/>

	<dt>Gorobei</dt>
	<dd>- A skilled archer recruited by Kambei, and acts as second in-command</dd>
  <dd>- Played by Yoshio Inaba</dd>
  <br/>

	<dt>Heihachi</dt>
	<dd>- An amiable though less-skilled fighter</dd>
  <dd>- Played by Minoru Chiaki</dd>
  <br/>

	<dt>Kyuzo</dt>
	<dd>- A stoic samurai known for his supreme swordsmanship skills</dd>
  <dd>- Played by Seiji Miyaguchi</dd>
  <br/>

	<dt>Kikuchiyo</dt>
	<dd>- A humorous, mercurial and temperamental fellow who claims to be a Samurai</dd>
  <dd>- Played by legendary actor <a href="https://en.wikipedia.org/wiki/Toshiro_Mifune" target="blank">Toshiro Mifune</a></dd>

</dl>

{% endblock %}
